@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

body {
  padding: 100px;
}

.myGrid {
  padding: 100px;
  width: 80%;
  min-height: 250px;
}

a.active {
  padding: 3px;
  color: #666666;
  border: 3px solid #666666;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  width: 32px;
}